<!DOCTYPE html>
<html lang="en">
<head>
	<link rel="stylesheet" href="{{url_for('static', filename='css/mi_estilo.css')}}">
	<link rel="stylesheet" href="{{url_for('static', filename='css/bootstrap.min.css')}}">
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Inicio</title>
</head>
<body class="container">
	<nav class="navbar navbar-inverse">
	<ul ><li><a href="/anime">Animes</a></li></ul>
	</nav>

	<h1 class="text-primary">Hola mundo desde flask de python</h1>

	<div id="foto">
		<img src="{{url_for('static', filename='img/Tulips.jpg')}}">
	</div>
	
	<section>
		<p>
			Lorem, ipsum dolor sit amet consectetur adipisicing elit. Vitae fuga ratione, obcaecati impedit quasi praesentium autem corporis nesciunt dolor incidunt assumenda! Delectus, molestiae! Totam ipsam consequatur tempora natus, quasi aspernatur. Lorem ipsum dolor, sit amet consectetur adipisicing elit. Nihil assumenda consectetur, minus animi tempore hic asperiores maxime totam ab dolore beatae. Est pariatur ex sunt quam maxime reiciendis aliquam consequatur! Lorem, ipsum dolor sit amet consectetur adipisicing elit. Facilis, deleniti. Aspernatur, iusto facilis, cum sequi dolore tenetur dicta est doloribus a, delectus aut? Harum modi at, impedit in tempora ducimus.
		</p>
	</section>
</body>
</html>